@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color: #171717;
}
.cursor {
	position: relative;
}
.blinkAnimation{
	position: absolute;
	width: 10px;
	height: 90%;
	background-color:  #00c6cf;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}